.line{
	width: inherit;
	background: rgba(135, 135, 135, 0.5);
	width: 100px;
	height: 1px;
	margin: 30px auto;
}
/* SECTION PFBLOCK START */
.pfblock{
	background: #F5F5F5;
	padding:70px 0 80px 0;
}
.pfblock-header{
	text-align: center;
	margin-bottom: 41px;
}
.pfblock-header-title{
	display: block;
	font-size: 30px;
    line-height: 136.5%;
    letter-spacing: 0.23em;
}
.pfblock-header-text{
	display: block;
	font-size: 16px;
    
}
.pfblock-item{
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(212,212,212,0.5);
	padding: 26px 0 59px 0;
	text-align: center;
	background: #ffffff;
}
.pfblock-item-pic{
	margin-bottom: 31px;
}
.pfblock-item-title{
	font-size: 18px;
    line-height: 136.5%;
    letter-spacing: 0.23em;
    margin-bottom: 47px;
}
/* SECTION PFBLOCK END */

/* SECTION CALLTOACTION START */
.calltoaction{
	background: #F5F5F5;
	padding:70px 0 80px 0;
}
.calltoaction-header{
	text-align: center;
	margin-bottom: 41px;
}
.calltoaction-header-title{
	display: block;
	font-size: 30px;
    line-height: 136.5%;
    letter-spacing: 0.23em;
}
.calltoaction-header-text{
	display: block;
	font-size: 16px;
	margin-bottom: 40px;
    
}
.calltoaction-item{
	box-shadow: 0 0 10px rgba(212,212,212,0.5);
	background-color:#ffffff;
	padding:2rem;
	margin-bottom:20px;
	text-align: center;
}
.calltoaction-down-text{
	margin:0;
	margin-top:10px;
	margin-bottom: 118px;
	font-size: 16px;
    line-height: 136.5%;
    letter-spacing: 0.23em;
    color: #5F5F5F;
}
.media{
	margin-left: auto;
    margin-right: auto;
    width:165px;
	margin-bottom: 35px;
}
.circle-border{
	background-color: #F43838;
	width: 165px;
    height: 165px;
    border-radius: 50%;
}
.circle{
	position: absolute;
    transform: translate(-35px,50px);
	color:#ffffff;
	font-size:41px;
}
.calltoaction-down-title{
	margin:0;
	font-size: 25px;
    line-height: 136.5%;
    text-align: center;
    letter-spacing: 0.23em;
}
.calltoaction-down-title-center{
	margin: 0;
    margin-bottom:35px;
    font-size: 25px;
    line-height: 136.5%;
    text-align: center;
    letter-spacing: 0.23em;
}
.calltoaction-down-text-center{
	margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 136.5%;
    letter-spacing: 0.23em;
    color: #5F5F5F;
}
.media-center{
	display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 165px;
    margin-bottom: 118px;
}
.circle-border-center{
	background-color: #F43838;
	width: 165px;
    height: 165px;
    border-radius: 50%;
}
.circle-center{
	position: absolute;
    transform: translate(-35px,50px);
	color:#ffffff;
	font-size:41px;
}

/* SECTION CALLTOACTION END */


/* MEDIA */
@media(max-width: 1199px){
	.pfblock-item-title{
	font-size: 15px;
    }
}

@media(max-width: 991px){
	.pfblock-item{
	margin-bottom: 2rem;
	}
	.pfblock-header-title{
	font-size: 26px;
    }
    .pfblock-header-text{
	font-size: 14px;
    }
}

