.line {
  width: inherit;
  background: rgba(135, 135, 135, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}
/* SECTION HOME START */
.home {
  padding: 160px 0 45px 0;
  background-image: url(../img/apple-black-and-white-camera-196659.jpg);
  background-size: cover;
}
.home-intro {
  text-align: center;
}
.home-intro-text {
  margin: 30px 0;
  font-size: 16px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
  color: #ffffff;
}
.home-intro-title {
  font-size: 40px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
  color: #FFFDFD;
  font-weight: 700;
  margin: 5px 0 5px;
}
.home-scroll-round {
  margin-top: 200px;
  text-align: center;
}
.home-scroll {
  color: #ffffff;
  padding: 6px 10px;
  background: rgba(166, 166, 166, 0.36);
  -webkit-box-shadow: 0 0 10px rgba(212, 212, 212, 0.5);
          box-shadow: 0 0 10px rgba(212, 212, 212, 0.5);
  border-radius: 30px;
}
.home-scroll:hover {
  text-decoration: none;
  color: #ffffff;
}
/* SECTION HOME END */
/* HEADER START */
.logo-menu {
  color: #000;
  font-weight: 500;
  font-size: 22px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
}
.logo-menu:hover {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.navbar-menu {
  float: right;
  margin: 0;
  padding: 4px;
}
.navbar-menu-link {
  display: inline-block;
  margin-right: 15px;
  padding: 3px;
}
.navbar-menu-link:last-child {
  margin-right: 0;
}
.navbar-menu-link a {
  color: #000;
  font-size: 16px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
}
.navbar-menu-link a:hover {
  text-decoration: none;
  color: #0029FF;
}
/* HEADER END */
/* SECTION SERVICES START */
.services {
  background: #F5F5F5;
  padding: 70px 0 80px 0;
}
.services-header {
  text-align: center;
  margin-bottom: 41px;
}
.services-header-title {
  display: block;
  font-size: 30px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
}
.services-header-text {
  display: block;
  font-size: 16px;
}
.services-item {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(212, 212, 212, 0.5);
          box-shadow: 0 0 10px rgba(212, 212, 212, 0.5);
  padding: 26px 0 59px 0;
  text-align: center;
  background: #ffffff;
}
.services-item-pic {
  margin-bottom: 31px;
}
.services-item-title {
  font-size: 18px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
  margin-bottom: 47px;
}
/* SECTION SERVICES END */
/* PORTFOLIO START */
.portfolio {
  padding: 70px 0 80px 0;
}
.pfblock-header-title {
  font-size: 30px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
}
.pfblock-header-text {
  font-size: 16px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
}
.portfolio-block-1 {
  position: relative;
  display: inline-block;
  min-width: 350px;
  min-height: 241px;
  background: url(../img/project/Ali/1bg.png) no-repeat center / cover;
  margin-bottom: 15px;
}
.portfolio-block-2 {
  position: relative;
  display: inline-block;
  min-width: 350px;
  min-height: 241px;
  background: url(../img/project/FSWD/apple-black-and-white-camera-196659.jpg) no-repeat center / cover;
  margin-bottom: 15px;
}
.portfolio-block-3 {
  position: relative;
  display: inline-block;
  min-width: 350px;
  min-height: 241px;
  background: url(../img/project/Odigo/Hero.jpg) no-repeat center / cover;
  margin-bottom: 15px;
}
.portfolio-block-4 {
  position: relative;
  display: inline-block;
  min-width: 350px;
  min-height: 241px;
  background: url(../img/project/Gipsolit/tour-bg.jpg) no-repeat center / cover;
  margin-bottom: 15px;
}
.portfolio-block-5 {
  position: relative;
  display: inline-block;
  min-width: 350px;
  min-height: 241px;
  background: url(../img/project/RSE/banner.jpg) no-repeat center / cover;
  margin-bottom: 15px;
}
.portfolio-block-6 {
  position: relative;
  display: inline-block;
  min-width: 350px;
  min-height: 241px;
  background: url(../img/project/MDB/pexels-photo-1482476.jpeg) no-repeat center / cover;
  margin-bottom: 15px;
}
.portfolio-block-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 26px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
  color: #ffffff;
  text-align: center;
  padding-top: 95px;
}
.portfolio-block-link:hover {
  color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 12px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 0 12px rgba(255, 255, 255, 0.2);
}
/* PORTFOLIO END */
/* SECTION PFBLOCK START */
.pfblock {
  background: #F5F5F5;
  padding: 70px 0 80px 0;
}
.pfblock-header {
  text-align: center;
  margin-bottom: 41px;
}
.pfblock-header-title {
  display: block;
  font-size: 30px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
}
.pfblock-header-text {
  display: block;
  font-size: 16px;
  margin-bottom: 40px;
}
.pfblock-item {
  -webkit-box-shadow: 0 0 10px rgba(212, 212, 212, 0.5);
          box-shadow: 0 0 10px rgba(212, 212, 212, 0.5);
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
.pfblock-down-text {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 118px;
  font-size: 16px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
  color: #5F5F5F;
}
.media {
  margin-left: auto;
  margin-right: auto;
  width: 165px;
  margin-bottom: 35px;
}
.circle-border {
  background-color: #F43838;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.circle {
  position: absolute;
  -webkit-transform: translate(-35px, 50px);
          transform: translate(-35px, 50px);
  color: #ffffff;
  font-size: 41px;
}
.pfblock-down-title {
  margin: 0;
  font-size: 25px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
}
.pfblock-down-title-center {
  margin: 0;
  margin-bottom: 35px;
  font-size: 25px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
}
.pfblock-down-text-center {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
  color: #5F5F5F;
}
.media-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 165px;
  margin-bottom: 118px;
}
.circle-border-center {
  background-color: #F43838;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.circle-center {
  position: absolute;
  -webkit-transform: translate(-35px, 50px);
          transform: translate(-35px, 50px);
  color: #ffffff;
  font-size: 41px;
}
/* SECTION PFBLOCK END */
/* SECTION CALLTOACRION START*/
.calltoaction {
  text-align: center;
  padding: 70px 0 80px 0;
  background: url(../img/item-31.jpg) 100% 100% no-repeat;
  background-size: cover;
}
.calltoaction-header-title {
  font-size: 30px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.calltoaction-header-text {
  font-size: 18px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
  color: #FFFFFF;
  margin-bottom: 70px;
}
.calltoaction-btn {
  font-size: 18px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
  color: #000;
  margin: 5px 0 5px 0;
  padding: 15px 30px;
  background-color: #ffffff;
  border-radius: 3px;
}
.calltoaction-header a {
  font-weight: 500;
  text-transform: uppercase;
}
.calltoaction-header a:hover {
  background-color: #d7d7d7;
  text-decoration: none;
  color: #ffffff;
}
/* SECTION CALLTOACTION END */
/* TESTIMONIALS START */
.testimonials {
  text-align: center;
  background: #F5F5F5;
  padding: 70px 0 80px 0;
}
.testimonials-header-title {
  font-size: 30px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
}
.testimonials-header-text {
  font-size: 16px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
  margin-bottom: 90px;
}
.testimonials-slider {
  margin-bottom: 52px;
}
.slider-text {
  font-size: 18px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
}
/* TESTIMONIALS END */
/* CONTACT START */
.contact {
  padding: 70px 0 80px 0;
  text-align: center;
}
.contact-header-title {
  font-size: 30px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
}
.contact-header-text {
  margin: 0;
  margin-bottom: 63px;
  font-size: 16px;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.23em;
}
.form {
  display: block;
  margin-top: 0em;
}
.form-input {
  display: block;
  margin-bottom: 20px;
  background: #FFF;
  border: 1px solid #D8E1E4;
  border-radius: 3px;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  outline: none;
}
.form-input:focus,
.form-textarea:focus {
  border-color: rgba(135, 135, 135, 0.7);
}
.form-textarea {
  padding: 15px;
  max-width: 100%;
  min-width: 100%;
  background: #FFF;
  border: 1px solid #D8E1E4;
  font-size: 14px;
  margin-bottom: 20px;
  outline: none;
}
.form-btn {
  color: #fff;
  padding: 10px 25px;
  background: rgba(17, 17, 17, 0.8);
  width: 100%;
  font-size: 16px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
  border: 0;
}
.form-btn:hover {
  background: rgba(47, 47, 47, 0.8);
}
.form-btn:active,
.form-btn:focus {
  outline: none !important;
}
.form-btn::-moz-focus-inner {
  border: 0 !important;
}
/* CONTACT END */
/* FOOTER START */
.footer {
  background: #222;
  text-align: center;
  padding: 40px 0;
  color: #FFF;
}
.social-links {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}
.social-links li {
  display: inline-block;
  margin: 5px;
}
.social-links a {
  width: 36px;
  height: 36px;
  display: block;
  line-height: 35px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}
.social-links a:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.8);
}
.footer-title {
  font-size: 18px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
}
.footer-text {
  font-size: 18px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
}
.footer-link {
  font-size: 18px;
  line-height: 136.5%;
  letter-spacing: 0.23em;
  color: #F43838;
}
.footer-link:hover {
  color: #d21f1f;
  text-decoration: none;
  border-bottom: 1px dashed #ffffff;
}
/* FOOTER END */
/* MEDIA */
@media (max-width: 1199px) {
  .services-item-title {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .services-item {
    margin-bottom: 2rem;
  }
  .services-header-title {
    font-size: 26px;
  }
  .services-header-text {
    font-size: 14px;
  }
}
